.viewer {
  padding: 10px;
}

.viewer .options {
  display: flex;
  gap: 1%;
}

.viewer .raster-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.raster-image-container .raster-image {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .options {
    flex-wrap: wrap;
  }

  .viewer {
    overflow: auto;
  }

}
