@font-face {
  font-family: 'Assistant-Bold';
  src: local('Assistant-Bold'), url(./assets/fonts/Assistant-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant-ExtraBold';
  src: local('Assistant-ExtraBold'), url(./assets/fonts/Assistant-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant-ExtraLight';
  src: local('Assistant-ExtraLight'), url(./assets/fonts/Assistant-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant-Light';
  src: local('Assistant-Light'), url(./assets/fonts/Assistant-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant-Medium';
  src: local('Assistant-Medium'), url(./assets/fonts/Assistant-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant-Regular';
  src: local('Assistant-Regular'), url(./assets/fonts/Assistant-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Assistant-SemiBold';
  src: local('Assistant-SemiBold'), url(./assets/fonts/Assistant-SemiBold.ttf) format('truetype');
}

* {
  font-family: 'Assistant-Regular';
  text-align: justify;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0067FF;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
